@use './functions' as *;

// ==========================================================
// 1. ТОЧКИ ПЕРЕХОДУ (Чисті значення Max-Width)
// ==========================================================
$bp-desktop: 1440;
$bp-laptop: 1024;
$bp-tablet: 768;
$bp-mobile-l: 480;
$bp-mobile-s: 321;

// ==========================================================
// 2. УНІВЕРСАЛЬНІ МІКСИНИ ДЛЯ MEDIA QUERIES
// ==========================================================

// Підхід "Desktop First": Стилі застосовуються для екранів ДО вказаного розміру (включно)
@mixin media-down($breakpoint) {
  @media (width <= calc(#{$breakpoint}px - 0.02px)) {
    @content;
  }
}

// Підхід "Mobile First": Стилі застосовуються для екранів ВІД вказаного розміру
@mixin media-up($breakpoint) {
  @media (min-width: #{$breakpoint}px) {
    @content;
  }
}
// ==========================================================
// 3. МІКСИН ДЛЯ ЕФЕКТУ HOVER/АКТИВНОГО СТАНУ
// ==========================================================
@mixin hover-only-desktop($includeTouchActive: true) {
  // Наведення для десктопів
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  // Активне натискання для сенсорних екранів (можна вимкнути)
  @if $includeTouchActive {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
