@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.about {
  // .about__body
  &__body {
    position: relative;
  }

  // .about__images
  &__images {
    position: absolute;
  }

  // .top__left
  .top__left {
    top: -20px;
    left: 100px;
  }

  // .top__right
  .top__right {
    top: -40px;
    right: 100px;
  }
  // .bottom__left
  .bottom__left {
    bottom: -180px;
    left: 20px;
  }

  // .bottom__right
  .bottom__right {
    bottom: -180px;
    right: 0;
  }

  @include media-down(1144) {
    .top__left {
      top: -30px;
      left: 65px;
    }

    .top__right {
      top: -50px;
      right: 40px;
    }
    .bottom__right {
      height: 250px;
      bottom: -220px;
      right: 25px;
    }
  }
  @include media-down(1144) {
    &__header {
      margin-bottom: rem(100);
    }
    &__images {
      display: none;
    }
  }

  // .about__header
  &__header {
    text-align: center;
    margin-bottom: rem(222);

    @include media-down(1144) {
      margin-bottom: rem(100);
    }
    @include media-down($bp-laptop) {
      margin-bottom: rem(70);
    }
  }

  // .about__subtitle
  &__subtitle {
    display: inline-block;
    margin-bottom: rem(20);
  }

  // .about__title
  &__title {
    max-width: rem(760);
    margin: 0 auto;
    margin-bottom: rem(56);
  }

  // .about__text
  &__text {
    @include fluid-text(18, 14);
    max-width: rem(865);
    margin: 0 auto;
  }
  &__sponsor {
    background-color: $orange-400;

    &-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: rem(105);
      justify-content: space-between;
      align-items: center;
      padding: rem(64) rem(50);

      @include media-down($bp-laptop) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        padding: rem(32) rem(50);
        gap: rem(32) rem(64);
      }

      @include media-down($bp-mobile-l) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }
}
