@use '../helpers' as *;
@use '../variables' as *;

.btn {
  padding: rem(16) rem(24);
  border-radius: $borderRadius-8;
  font-weight: 400;
  line-height: 1.3;
}

.btn-orange {
  background-color: $orange-500;
  color: $white;
}
