@use '../helpers' as *;
@use '../variables' as *;

.btn {
  padding: rem(16) rem(24);
  border-radius: $borderRadius-8;
  font-weight: 400;
  line-height: 1.3;
  transition: $transitionDuration;
}

.btn-white {
  background-color: $white;
  border: rem(0.5) solid $black-500;
  color: $black-500;

  @include hover-only-desktop {
    background-color: $orange-500;
    color: $white;
    border: none;
  }
}

.btn.btn-orange {
  background-color: $orange-500;
  color: $white;

  @include hover-only-desktop {
    background-color: $white;
    color: $black-500;
    border: rem(0.5) solid $black-500;
  }
}
