@use '../helpers' as *;
@use '../variables' as *;

.margin-bottom {
  margin-bottom: rem(56);
}

.btn {
  @include fluid-text(16, 14);
  padding: rem(16) rem(24);
  border-radius: $borderRadius-8;
  line-height: 1.3;
  transition: $transitionDuration;
}

.btn-transparent {
  background-color: transparent;
  border: rem(0.5) solid $black-500;
  color: $black-500;

  @include hover-only-desktop {
    background-color: $orange-500;
    color: $white;
    border: none;
  }
}

.btn.btn-orange {
  background-color: $orange-500;
  color: $white;

  @include hover-only-desktop {
    background-color: $white;
    color: $black-500;
    border: rem(0.5) solid $black-500;
  }
}

.blue__title {
  display: inline-block;
  @include fluid-text(16, 12);
  background-color: $purple-400;
  color: $purple-600;
  border-radius: $borderRadius-24;
}

.blue__padding {
  padding: rem(4) rem(12);
  margin-bottom: rem(16);
}

.title {
  color: $black-500;
  @include fluid-text(40, 24);
  line-height: 1.3;
  margin-bottom: rem(16);
}

.text {
  @include fluid-text(16, 14);
}

.title__card {
  color: $black-500;
  @include fluid-text(24, 18);
  line-height: 1.3;
}
