@use '../helpers' as *;
@use '../variables' as *;

.faq {
  // .faq__title-block
  &__title-block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // gap: rem(350);
    gap: clamp(rem(20), 5vw, rem(350));
    margin-bottom: rem(56);
  }

  // .faq__left-block
  &__left-block {
    flex: 0 1 rem(500);
  }

  // .faq__title
  &__title {
    margin-bottom: 0;
    font-weight: 500;
  }

  // .faq__right-block
  &__right-block {
    flex: 0 1 rem(440);
  }

  // .faq__subtitle
  &__subtitle {
  }

  // .faq__description
  &__description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // gap: rem(88);
    gap: clamp(rem(12), 4vw, rem(88));
  }

  // .faq__directly
  &__directly {
    display: flex;
    flex-direction: column;
    justify-items: center;
    // flex: 0 1 rem(432);
    min-width: clamp(rem(358), 4vw, rem(432));
  }

  // .faq__directly-image
  &__directly-image {
    align-self: center;
    margin-bottom: rem(50);
  }

  // .faq__directly-title
  &__directly-title {
    @include fluid-text(24, 18);
    color: $black-500;
    font-weight: 600;
    margin-bottom: rem(12);
  }

  // .faq__directly-text
  &__directly-text {
    margin-bottom: rem(24);
  }

  // .faq__directly-link
  &__directly-link {
    align-self: flex-start;
  }

  // .faq__accordion
  &__accordion {
    margin-top: rem(28);
  }

  @include media-down($bp-tablet) {
    &__title-block {
      flex-direction: column;
      justify-items: flex-start;
      align-items: flex-start;
      gap: rem(16);
      margin-bottom: rem(32);
    }
    &__left-block {
      flex: 0 1 auto;
    }
    &__right-block {
      flex: 0 1 auto;
    }
    &__description {
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 0;
    }
    &__directly {
      --p: 10px;
      order: 2;
      padding: 0 var(--p);
      min-width: calc(320px - var(--p));
    }
    &__accordion {
      order: 1;
      margin-top: 0;
      margin-bottom: rem(56);
    }
  }
}

.accordion {
  // .accordion__faq
  &__faq {
    padding: rem(24) rem(32);
    background-color: $orange-400;
    border-radius: $borderRadius-8;
    cursor: pointer;

    transition:
      background-color $transitionDuration ease,
      padding $transitionDuration ease;

    &:not(:last-child) {
      margin-bottom: rem(10); // Додає відстань між плашками
    }
    &.active {
      background-color: $purple-400;
    }
  }

  // .accordion__faq-title
  &__faq-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $transitionDuration ease;

    .accordion__faq.active & {
      margin-bottom: rem(10);
    }

    h4 {
      @include fluid-text(18, 16);
      color: $black-500;
      font-weight: 600;
    }
  }

  // .accordion__faq-content
  &__faq-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      max-height 0.5s ease-out,
      padding 0.5s ease-out,
      opacity 0.1s ease-out 0.5s,
      visibility 0.1s ease-out 0.5s;

    &.active {
      visibility: visible;
      opacity: 1;
      transition:
        max-height 0.5s ease-out,
        opacity 0.1s ease-out,
        visibility 0.1s ease-out;
    }
  }
}

.accordion__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  &-icon {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background: $black-500;
    }

    &::before {
      width: 1.5px;
      height: 18px;
      left: calc(50% - 1.5px / 2);
      top: 0;
      transition: transform $transitionDuration ease;
      transform-origin: center;
    }
    &::after {
      width: 18px;
      height: 1.5px;
      top: calc(50% - 1.5px / 2);
      left: 0;
    }
  }
}

.accordion__faq-title.active {
  margin-bottom: rem(10);
}

.accordion__btn.active .accordion__btn-icon::before {
  transform: scaleY(0);
}
