@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.header {
  position: fixed;
  width: 100%;
  padding-top: 24px;
  background-color: $white;
  z-index: 100;

  &__content {
    height: 100%;
  }

  &__body {
    height: 100%;
    display: flex;
    align-items: center;
  }

  // .header__logo
  &__logo {
    height: 28px;
    flex: 1 0 auto;
  }

  // .header__menu
  &__menu {
    @include flex-center;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  // .header__menu-list
  &__menu-list {
    display: flex;
    align-items: center;
  }
  // .header__menu-item
  &__menu-item {
    margin-right: rem(64);
    color: $black-400;
    transition: $transitionDuration;

    &:last-child {
      margin-right: 0;
    }

    @include hover-only-desktop {
      color: $black-500;
    }
  }
  // .header__menu-link
  &__menu-link {
    font-weight: 400;
    line-height: 1.6;
  }

  // .header__button
  &__button-link {
    justify-content: center;
    width: 140px;
    height: 53px;
  }

  // ! Burger
  // .header__burger-btn
  &__burger-btn {
    position: relative;
    width: 18px;
    height: 14px;
    background-color: transparent;

    span {
      position: absolute;
      display: inline-block;
      top: 6px;
      right: 0;
      z-index: 100;
      background-color: $black-500;
      width: 18px;
      height: 2px;
      transition: $transitionDuration;

      &:nth-child(1) {
        transform: translateY(-6px);
      }

      &:nth-child(3) {
        transform: translateY(6px);
      }
    }
  }
  // ! Burger

  @include media-down($bp-tablet) {
    &__menu {
      position: absolute;
      top: 0;
      left: 100%;
      // right: 0;
      flex-direction: column;
      justify-content: center;
      background-color: $white;
      width: 100%;
      height: 100vh;
      z-index: 100;
      transition: transform $transitionDuration;
    }
    &__menu-body {
      margin-bottom: rem(30);
    }
    &__menu-list {
      flex-direction: column;
      gap: 20px;
    }
    &__menu-item {
      font-size: $fontSizeSmallText;
      margin-right: 0;
    }
  }
  @include media-down($bp-tablet) {
    &.open .header__menu {
      transform: translateX(-100%);
    }
  }
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
