@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.header {
  position: fixed;
  width: 100%;
  // height: rem(53);
  padding-top: 24px;
  background-color: $white;
  z-index: 100;

  &__content {
    height: 100%;
  }

  &__body {
    height: 100%;
    display: flex;
    align-items: center;
  }

  // .header__logo
  &__logo {
    flex: 1 0 auto;
  }

  // .header__logo-image
  &__logo-image {
  }

  // .header__menu
  &__menu {
    flex: 1 0 auto;
  }

  // .header__button
  &__button {
  }

  // .header__button-link
  &__button-link {
  }

  // .header__burger-btn
  &__burger-btn {
  }
}
.menu {
  // .menu__body
  &__body {
  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    flex: 0 1 400px;
  }

  // .menu__item
  &__item {
    margin-right: rem(64);

    &:last-child {
      margin-right: 0;
    }
  }

  // .menu__link
  &__link {
    color: $black-400;
    font-weight: 400;
    line-height: 1.6;
  }
}

// .header {
//   //======================== Burger Menu =======================
//   // .header__burger-btn
//   &__burger-btn {
//     position: relative;
//     width: 48px;
//     height: 48px;
//     // background-color: $white;
//     border-radius: 50%;

//     span {
//       position: absolute;
//       display: inline-block;
//       width: 24px;
//       height: 2px;
//       top: 48%;
//       right: 25%;
//       // background-color: $colorGray;
//       z-index: 5;
//       transition:
//         transform 0.5s,
//         opacity 0.5s,
//         background-color 0.5s;

//       &:nth-child(1) {
//         transform: translateY(-11px);
//       }

//       &:nth-child(3) {
//         transform: translateY(11px);
//       }
//     }
//   }
// }

// .header.open .header__burger-btn span:nth-child(1) {
//   transform: translateY(0) rotate(45deg);
// }

// .header.open .header__burger-btn span:nth-child(2) {
//   opacity: 0;
// }

// .header.open .header__burger-btn span:nth-child(3) {
//   transform: translateY(0) rotate(-45deg);
// }
