@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.header {
  position: fixed;
  width: 100%;
  padding-top: rem(24);
  padding-bottom: rem(24);
  background-color: $white;
  z-index: 100;

  // transition: box-shadow $transitionDuration ease-in-out;
  transition:
    background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;

  // Встановлюємо backdrop-filter в "none" за замовчуванням
  backdrop-filter: none;

  &.scrolled {
    // Тінь, яка з'являється при прокручуванні
    // box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.4);
    // Напівпрозорий фон
    background-color: rgba(255, 255, 255, 0.85);
    // Включаємо ефект розмиття
    backdrop-filter: blur(5px);

    // Можна додати легку тінь для контрасту, якщо потрібно
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  }

  &__content {
    height: 100%;
  }

  &__body {
    height: 100%;
    display: flex;
    align-items: center;
  }

  // .header__logo
  &__logo {
    height: 28px;
    flex: 1 0 auto;
  }

  // .header__menu
  &__menu {
    @include flex-center;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  // .header__menu-list
  &__menu-list {
    display: flex;
    align-items: center;
  }
  // .header__menu-item
  &__menu-item {
    margin-right: rem(64);
    color: $black-400;
    transition: $transitionDuration;

    &:last-child {
      margin-right: 0;
    }

    @include hover-only-desktop {
      color: $black-500;
    }
  }

  // .header__button
  &__button-link {
    justify-content: center;
    width: 140px;
    height: 53px;
  }

  // ! Burger
  // .header__burger-btn
  &__burger-btn {
    @include size(rem(24));
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;

    span {
      z-index: 999;
      background-color: $black-500;
      width: 100%;
      height: rem(2);
      transition: $transitionDuration;

      &:nth-child(1) {
        transform: translateY(4px);
      }

      &:nth-child(3) {
        transform: translateY(-4px);
      }
    }
  }
  // ! Burger

  @include media-down($bp-tablet) {
    &__menu {
      position: absolute;
      top: 0;
      left: 100%;
      flex-direction: column;
      justify-content: center;
      background-color: $white;
      width: 100%;
      height: 100vh;
      z-index: 100;
      transition: transform $transitionDuration;
    }
    &__menu-body {
      margin-bottom: rem(30);
    }
    &__menu-list {
      flex-direction: column;
      gap: 20px;
    }
    &__menu-item {
      font-size: $fontSizeSmallText;
      margin-right: 0;
    }
  }
  @include media-down($bp-tablet) {
    &.open .header__menu {
      transform: translateX(-100%);
    }
  }
}
@include media-down($bp-tablet) {
  .header {
    padding-top: rem(16);
    padding-bottom: rem(16);
  }
}
.header.open .header__burger-btn span:nth-child(1) {
  rotate: 45deg;
  transform-origin: 0;
  translate: 6px 0px;
}

.header.open .header__burger-btn span:nth-child(2) {
  rotate: -45deg;
}

.header.open .header__burger-btn span:nth-child(3) {
  width: 0;
}
