@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.partners {
  margin-top: rem(36);
  // .partners__body
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  // .partners__connecting
  &__connecting {
    flex: 0 1 rem(575);
    // order: 1;
  }

  // .partners__connecting-desc
  &__connecting-desc {
    margin-bottom: 10vw;
    // margin-bottom: rem(190);
  }

  // .partners__partnership
  &__partnership {
    display: flex;
    align-items: center;
    gap: rem(10);
    width: 470px;
    padding: rem(6) rem(16);
    margin-bottom: rem(32);
  }

  // .partners__title
  &__title {
    color: $black-500;
    @include fluid-text(58, 32);
    line-height: 1.3;
    margin-bottom: rem(16);
  }

  // .partners__text
  &__text {
    margin-bottom: rem(50);
  }

  // .partners__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(24);
    height: rem(53);
  }

  // .partners__buttons-link
  &__buttons-link {
    &:nth-child(1) {
      width: 180px;
    }
  }

  // .partners__progress
  &__progress {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(30);
    // order: 2;
  }

  // .partners__progress-item
  &__progress-item {
  }

  .progress {
    // .progress__item-number
    &__item-number {
      @include fluid-text(40, 20);
      color: $black-500;
      line-height: 1.3;
    }

    // .progress__item-text
    &__item-text {
    }

    // .partners__banner
    &__banner {
      flex: 0 1 rem(665);
      // order: 3;
    }
  }

  @include media-down($bp-laptop) {
    &__body {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      // justify-content: space-between;
    }
    // &__connecting {
    //   order: 2;
    // }

    // &__banner {
    //   order: 1;
    // }
    // &__connecting {
    //   flex: 0 1 rem(500);
    // }
    // &__banner {
    //   flex: 0 1 rem(500);
    // }
  }
}
