@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.pricing {
  // .pricing__cards
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .pricing__card
  &__card {
    padding: rem(32);
    border-radius: $borderRadius-8;
  }
}

.card {
  // .card__active
  &__active {
    background-color: $purple-400;
  }
  // .card__popular
  &__popular {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(35);
  }
  &__img-popular {
    display: block;
    padding: rem(10) rem(12);
    background-color: $purple-600;
    border-radius: $borderRadius-8;
  }

  // .card__btn-popular
  &__btn-popular {
    display: inline-block;
    padding: rem(10) rem(16);
    background-color: $white;
    border-radius: $borderRadius-24;
  }

  // .card__text
  &__text {
    margin-bottom: rem(24);
    max-width: rem(356);
  }

  // .card__price
  &__price {
    color: $black-500;
    @include fluid-text(40, 32);
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: rem(24);

    span {
      color: $black-400;
      @include fluid-text(16, 14);
      font-weight: 400;
      line-height: 1.6;
    }
  }

  &__line {
    max-width: rem(356);
    height: 1px;
    background-color: $black-300;
    margin-bottom: rem(24);
  }

  // .card__list
  &__list {
    // .card__items
    &-items {
      color: $black-400;
      @include fluid-text(14, 12);
      line-height: 1.4;
      margin-bottom: rem(24);
      background: url('/src/image/pricing/list_img-02.png') left 0px no-repeat;
      padding: 0px 0px 0px rem(34);
    }
  }

  // .card__button
  &__button {
  }
}

.active-items {
  background: url('/src/image/pricing/list_img-01.png') left no-repeat;
  padding: 0px 0px 0px rem(34);
}

.button {
  // .button__active
  &__active {
  }
}
