@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.process {
  // .process__header
  &__header {
    text-align: center;
  }

  // .process__cards
  &__cards {
    background: url('../image/process/lineX.png') 50% 35% no-repeat;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: rem(100);
    gap: clamp(rem(32), 4vw, rem(100));
  }
  &__line {
    // width: 100%;

    // position: absolute;
    // top: 35%;
    // left: 50%;
    // translate: -50% -45%;
    // width: calc(100% - rem(260));
    // transform: rotate(90deg);
  }

  // .process__card
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - rem(260)) / 4);
    z-index: 10;
  }

  @include media-down($bp-laptop) {
    &__cards {
      // background: url('../image/process/lineY.png') 50% 35% / cover no-repeat;

      flex-direction: column;
      align-items: flex-start;
      justify-items: flex-start;
      gap: 0;

      // align-items: center;
      // justify-content: space-between;
      // gap: clamp(rem(32), 4vw, rem(100));
      background-image: url('../image/process/lineY.png');
      background-attachment: fixed;
      background-position: left 11% top 10%;
      background-repeat: repeat-y;
    }
    &__desc {
      display: flex;
      flex-direction: column;
    }
    &__card {
      display: flex;
      flex-direction: row;
      // align-items: center;
      text-align: left;
      width: 100%;
      margin-bottom: 50px;
    }

    // &__line {
    //   position: absolute;
    //   top: 50%;
    //   left: 10%;
    //   // translate: -50% -45%;
    //   width: calc(100% - rem(30));
    //   transform: rotate(90deg);
    // }
  }
}

.card {
  // .card__image
  &__image {
  }
  // .card__title
  &__title {
    margin-bottom: rem(12);
  }
  // .card__text
  &__text {
    // margin-bottom: rem(24);
  }
}
.title__card {
  @include fluid-text(20, 18);
}
