@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.process {
  // .process__header
  &__header {
    text-align: center;
  }

  // .process__cards
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(rem(32), 4vw, rem(100));
  }
  &__line {
  }

  // .process__card
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include media-down($bp-laptop) {
    &__cards {
      flex-direction: column;
      align-items: flex-start;
      justify-items: flex-start;
      gap: 0;
    }
    &__card {
      display: flex;
      flex-direction: row;
      // align-items: center;
      text-align: left;
      width: 100%;
    }

    // &__line {
    //   position: absolute;
    //   top: 50%;
    //   left: 10%;
    //   // translate: -50% -45%;
    //   width: calc(100% - rem(30));
    //   transform: rotate(90deg);
    // }
  }
}

.card {
  // .card__image
  &__image {
  }
  // .card__title
  &__title {
    margin-bottom: rem(12);
  }
  // .card__text
  &__text {
    // margin-bottom: rem(24);
  }
}
.title__card {
  @include fluid-text(20, 18);
}
