@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.studies {
  background-color: $orange-400;
  padding: rem(80);
  // .studies__body
  &__body {
  }

  // .studies__header
  &__header {
    text-align: center;
  }

  // .studies__subtitle
  &__subtitle {
  }

  // .studies__title
  &__title {
  }

  // .studies__text
  &__text {
  }

  // .studies__cards
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(42);
  }

  // .studies__card
  &__card {
    $innerPaddingCard: rem(160);
    display: flex;
    align-items: center;
    gap: rem(40);
    // width: 1180px;
    width: calc($containerWidth - $innerPaddingCard);
    padding: rem(32);
    background-color: $white;
    border-radius: $borderRadius-16;
  }

  // .studies__card-image
  &__card-image {
    flex: 0 1 247px;
  }

  // .studies__card-desc
  &__card-desc {
    align-self: flex-start;
    flex: 0 1 830px;
  }

  // .studies__card-title
  &__card-title {
  }

  // .studies__card-text
  &__card-text {
  }

  // .studies__card-details
  &__card-details {
    display: flex;
  }

  // .studies__card-items
  &__card-items {
    display: flex;
  }

  // .studies__card-item
  &__card-item {
  }

  // .studies__card-link
  &__card-link {
  }

  // .studies__pagination
  &__pagination {
  }
}

.pagination {
  // .pagination__controls
  &__controls {
  }
  // .pagination__arrow
  &__arrow {
  }
  // .pagination__numbers
  &__numbers {
  }
}

.page {
  // .page__number
  &__number {
  }
}

.active-card {
}

.active {
}
