@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.pricing {
  // .pricing__cards
  &__cards {
    display: flex;
    align-items: flex-end;
    // justify-content: flex-start;
    justify-content: space-between;
    gap: rem(40);

    @include media-down($bp-laptop) {
      flex-wrap: wrap;
      gap: rem(30);
      // justify-content: flex-start;
    }
  }

  // .pricing__card
  &__card {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    // flex: 0 1 rem(420);
    padding: rem(32);
    background-color: $orange-400;
    border-radius: $borderRadius-8;

    // min-height: rem(580);

    &.card__active {
      background-color: $purple-400;
    }

    @include media-down($bp-laptop) {
      flex: 0 1 calc(50% - rem(30));
    }

    @include media-down($bp-tablet) {
      flex: 0 1 100%;
    }
  }
}

.card {
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  // .card__popular
  &__popular {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(40);
  }

  &__img {
    display: block;
    padding: rem(10) rem(12);
    border-radius: $borderRadius-8;

    @include size(rem(40));
  }

  // .card__btn-popular
  &__btn-popular {
    display: inline-block;
    padding: rem(10) rem(16);
    background-color: $white;
    border-radius: $borderRadius-24;
  }

  // .card__text
  &__text {
    margin-bottom: rem(24);
    max-width: rem(356);
  }

  // .card__price
  &__price {
    color: $black-500;

    @include fluid-text(40, 32);

    font-weight: 600;
    line-height: 1.3;
    margin-bottom: rem(24);

    span {
      color: $black-400;

      @include fluid-text(16, 14);

      font-weight: 400;
      line-height: 1.6;
    }
  }

  &__line {
    max-width: rem(356);
    height: 1px;
    background-color: $black-300;
    margin-bottom: rem(24);
  }

  // .card__list
  &__list {
    flex: 1 1 auto;
    margin-bottom: rem(32);
    // .card__items
    &-items {
      color: $black-400;

      @include fluid-text(14, 12);

      line-height: 1.4;
      margin-bottom: rem(24);
      background: url('/src/image/pricing/list_img-02.png') left 0 no-repeat;
      padding: 0 0 0 rem(34);
    }
  }

  // .card__button
  &__button {
    color: $white;
    margin-top: auto;

    a {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      padding: rem(16) 0;
      border-radius: $borderRadius-8;
      transition: 0.2s linear;
    }
  }
}

.img-popular {
  background-color: $purple-600;
}

.img-simply {
  background-color: $orange-500;
  margin-bottom: rem(40);
}

.active-items {
  background: url('/src/image/pricing/list_img-01.png') left no-repeat;
  padding: 0 0 0 rem(34);
}

.button__popular {
  background-color: $purple-600;

  &:hover {
    background-color: $orange-500;
  }
}

.button__simply {
  background-color: $orange-500;

  &:hover {
    background-color: $purple-600;
  }
}
