@use '../helpers' as *;
@use '../utils' as *;
@use '../variables' as *;

.studies {
  background-color: $orange-400;
  padding: rem(80);

  @include media-down($bp-laptop) {
    padding: rem(60);
  }

  @include media-down($bp-tablet) {
    padding: rem(40);
  }

  @include media-down($bp-mobile-l) {
    padding: rem(20);
  }

  // .studies__cards
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(42);
    margin-bottom: rem(56);

    @include media-down(921) {
      row-gap: rem(32);
    }
  }

  // .studies__card
  &__card {
    $innerPaddingCard: rem(160);

    display: flex;
    align-items: center;
    gap: rem(40);
    // width: 1180px;
    max-width: calc($containerWidth - $innerPaddingCard);
    padding: rem(32);
    background-color: $white;
    border-radius: $borderRadius-16;
    transition: $transitionDuration;
    // !
    &.hidden {
      display: none !important;
    }

    animation: fadeEffect 0.5s;
    // !

    @include hover-only-desktop {
      background-color: $purple-400;

      &__card-link {
        color: $white;
        background: $purple-600;
      }

      .btn-purple {
        color: $white;
        background: $purple-600;
        border: none;
      }
    }

    @include media-down(921) {
      gap: rem(20);
      padding: rem(16);
    }

    @include media-down($bp-tablet) {
      padding: rem(28) rem(32);
      flex-direction: column;
    }

    @include media-down($bp-mobile-l) {
      padding: rem(16) rem(24) rem(24);
    }
  }

  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  // .studies__card-image
  &__card-image {
    flex: 0 1 rem(247);
    // flex: 0 1 22.5%;

    @include media-down($bp-tablet) {
      flex: 0 1 auto;
    }
  }

  // .studies__card-desc
  &__card-desc {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 0 1 rem(830);
    // flex: 0 1 75%;

    @include media-down($bp-tablet) {
      flex: 0 1 auto;
    }
  }

  // .studies__card-title
  &__card-title {
    margin-bottom: rem(12);
  }

  // .studies__card-text
  &__card-text {
    margin-bottom: clamp(rem(24), 5vw, rem(96));
  }

  // .studies__card-details
  &__card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-down(612) {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(32);
    }
  }

  // .studies__card-items
  &__card-items {
    display: flex;
  }

  // .studies__card-item
  &__card-item {
    color: $black-500;

    @include fluid-text(24, 18);

    line-height: 1.3;
    margin-right: rem(24);

    p:nth-child(2) {
      color: $black-400;

      @include fluid-text(14, 12);

      line-height: 1.4;
    }
  }
}

.pagination {
  // .pagination__controls
  &__controls {
    @include flex-center;

    gap: rem(24);

    @include media-down($bp-mobile-l) {
      gap: rem(12);
    }
  }
  // .pagination__arrow
  &__arrow {
    fill: $black-300;

    @include flex-center;
    @include size(rem(50));

    background-color: $white;
    border-radius: $borderRadius-24;

    .arrow__active path {
      fill: $black-500;
    }

    @include media-down($bp-mobile-l) {
      @include size(rem(42));
    }
  }
  // .pagination__numbers
  &__numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: rem(16);

    @include media-down($bp-mobile-l) {
      gap: rem(10);
    }
  }
}

.page {
  // .page__number
  &__number {
    @include fluid-text(18, 16);

    line-height: 1.3;
    color: $black-300;
    background-color: $white;

    @include size(rem(50));

    padding: rem(14) rem(22);
    border-radius: $borderRadius-8;

    &.active {
      color: $white;
      background-color: $orange-500;
    }

    @include media-down($bp-mobile-l) {
      min-width: rem(42);
      padding: rem(10) rem(16);
    }
  }
}
