@use 'helpers' as *;
@use 'variables' as *;

.container {
  // Використовуємо calc для обчислення максимальної ширини з відступами
  max-width: calc(#{$containerWidth} + #{$containerPaddingX} * 2);
  margin-inline: auto;
  padding-inline: $containerPaddingX;
}

.visually-hidden {
  // Міксин для приховування елемента, доступного скрінрідерам
  @include visually-hidden;
}

// Приховує елемент на мобільних пристроях (max-width: 768px)
.hidden-mobile {
  // Використовуємо універсальний міксин media-down з точкою $bp-tablet (768px)
  @include media-down($bp-tablet) {
    display: none !important;
  }
}

// Показує елемент тільки на мобільних пристроях (до max-width: 768px)
.visible-mobile {
  // Використовуємо універсальний міксин media-up з точкою $bp-tablet (768px)
  // Тобто приховуємо елемент для всіх екранів ВІД 768px і більше
  @include media-up($bp-tablet) {
    display: none !important;
  }
}

// .full-vw-line {
//   position: relative;

//   // Базові стилі для обох псевдоелементів
//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     height: rem(1);
//     background-color: var(--color-dark-15);

//     // Обчислення ширини лінії: (VW - Container) / 2
//     width: calc((var(--100vw) - var(--container-width)) / 2);
//   }

//   // --- МОДИФІКАТОРИ НАПРЯМКУ ЛІНІЇ ---

//   // Лінія над елементом
//   &--top {
//     &::before {
//       bottom: 100%; // Над елементом
//       // Використовуємо ::before для лівої лінії
//       right: 100%; // Висувається ліворуч
//     }
//     &::after {
//         bottom: 100%;
//         left: 100%; // Висувається праворуч
//     }
//   }

//   // Лінія під елементом
//   &--bottom {
//     &::before {
//       top: 100%; // Під елементом
//       right: 100%; // Висувається ліворуч
//     }
//     &::after {
//         top: 100%;
//         left: 100%; // Висувається праворуч
//     }
//   }
// }

// .circle-icon {
//   // Визначення змінних у корені
//   --icon-size: #{rem(52)};       // Розмір самого кола
//   --icon-margin-left: #{rem(20)}; // Відступ між текстом і колом

//   position: relative;
//   min-height: var(--icon-size);

//   // Динамічний відступ: розмір кола + відступ = місце для іконки
//   padding-right: calc(var(--icon-size) + var(--icon-margin-left));

//   // Адаптація розмірів
//   @include laptop {
//     --icon-size: #{rem(44)};
//     --icon-margin-left: #{rem(14)};
//   }

//   @include mobile {
//     --icon-size: #{rem(40)};
//   }

//   &::after {
//     // Стилі для самої круглої іконки
//     @include square(var(--icon-size)); // Використовуємо міксин square
//     @include abs-y;                    // Вертикальне центрування
//     content: '';
//     right: 0; // Прив'язка до правого краю

//     background:
//       url('../../icons/arrow-top-right_black.svg') center no-repeat
//       var(--color-accent); // Фон: іконка + акцентний колір

//     border-radius: 50%;
//   }
// }
