@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'settings';
@use 'blocks/header';
@use 'blocks/components';
@use 'blocks/partners';
@use 'blocks/services';
@use 'blocks/about';
@use 'blocks/value';
@use 'blocks/studies';
@use 'blocks/process';
@use 'blocks/pricing';
