@charset "UTF-8";
/* =======================RESET====================== */
/* Нормалізація блочної моделі */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/* Нормалізація висоти елемента посилання при його інспектуванні в DevTools */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a,
a:visited {
  color: inherit; /* Успадковує колір тексту */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Змінює підрахунок ширини блоку для спрощення обчислення розмірів */
:focus,
:active,
a:focus,
a:active {
  outline: none;
}

:focus-visible {
  outline-offset: 2px;
}

/* Видаляємо outline лише у разі наявності альтернативи */
:focus:not(:focus-visible) {
  outline: none;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  font-size: 16px;
  /* Плавне прокручування */
}
html :has(:target) {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased; /* Покращує відображення шрифтів у Chrome/Safari */
  /* ! Забороняє самовільне збільшення шрифту на iPhone */
  /* -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; */
  /* Забороняє самовільне збільшення шрифту на iPhone */
}

/* Успадковуємо властивості шрифту для полів введення */
input,
button,
textarea,
select {
  font: inherit;
  font-family: inherit;
}

button,
input::-ms-clear {
  border: 0;
  padding: 0;
  display: none;
} /* Прибирає хрестик у полі вводу в Microsoft IE */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /* Прибирає відступи у кнопок у Mozilla */
a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  z-index: 999;
  content: "";
}

ul li {
  list-style: none;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
  /* vertical-align: top; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Прибираємо внутрішні відступи зліва для тегів списків, які мають атрибут class */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/* Прибираємо зовнішні відступи для body та двох інших тегів, які мають атрибут class */
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/* Прибираємо зовнішні вертикальні відступи у потрібних тегів, які мають атрибут class */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/* Прибираємо стандартний маркер у маркованого списку, який має атрибут class */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/* Обнуляємо вертикальні зовнішні відступи параграфа */
p {
  margin-block: 0;
}

/* Зовнішній відступ вниз для параграфа без атрибута class */
/* Курсор-рука при наведенні на елемент */
button,
label {
  cursor: pointer;
}

/* Приводимо до одного кольору svg-елементи */
[fill] {
  fill: currentcolor;
}

[stroke] {
  stroke: currentcolor;
}

/* Виправляємо баг із затримкою зміни кольору при взаємодії з svg-елементами */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/* Видаляємо всі анімації та переходи для людей, які віддають перевагу їх не використовувати */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* =============================/RESET=================================== */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-SemiBold.woff2") format("woff2"), url("../fonts/DMSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(1340px + 15px * 2);
  margin-inline: auto;
  padding-inline: 15px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: calc(768px - 0.02px)) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  color: #656565;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* потрібен код, щоб надалі можна було прикріпити футер донизу */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* потрібен код, щоб надалі можна було прикріпити футер донизу */
  min-height: 100%; /* обгортка займатиме щонайменше всю висоту вікна браузера */
}
.wrapper > .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; /* притискає футер донизу */
  margin-top: 97px;
}
@media (max-width: calc(768px - 0.02px)) {
  .wrapper > .main {
    margin-top: 75px;
  }
}
@media (max-width: calc(320px - 0.02px)) {
  .wrapper > .main {
    margin-top: 65px;
  }
}

section {
  margin-bottom: 10rem;
}
@media (max-width: calc(1024px - 0.02px)) {
  section {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  section {
    margin-bottom: 3.125rem;
  }
}

[class*=__container] {
  /* селектор атрибута */
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; /* (відступи безпеки, щоб вміст не притискався до країв сторінки); при додаванні відступу в 15px у min-width додаємо 30px, і значення буде не 1250px, а 1280px */
}

[class*=__header] {
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
  z-index: 100;
  -webkit-transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  backdrop-filter: none;
}
.header.scrolled {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.header__content {
  height: 100%;
}
.header__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  height: 28px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item {
  margin-right: 4rem;
  color: #656565;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu-item:last-child {
  margin-right: 0;
}
@media (any-hover: hover) {
  .header__menu-item:hover {
    color: #222222;
  }
}
@media (any-hover: none) {
  .header__menu-item:active {
    color: #222222;
  }
}
.header__button-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 53px;
}
.header__burger-btn {
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}
.header__burger-btn span {
  z-index: 999;
  background-color: #222222;
  width: 100%;
  height: 0.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}
.header__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}
@media (max-width: calc(768px - 0.02px)) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__menu-body {
    margin-bottom: 1.875rem;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header__menu-item {
    font-size: 1.125rem;
    margin-right: 0;
  }
}
@media (max-width: calc(768px - 0.02px)) {
  .header.open .header__menu {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.header.open .header__burger-btn span:nth-child(1) {
  rotate: 45deg;
  -webkit-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;
  translate: 6px 0px;
}

.header.open .header__burger-btn span:nth-child(2) {
  rotate: -45deg;
}

.header.open .header__burger-btn span:nth-child(3) {
  width: 0;
}

.margin-bottom {
  margin-bottom: 3.5rem;
}

.btn {
  font-size: clamp(0.875rem, 0.8431372549rem + 0.1307189542vw, 1rem);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  line-height: 1.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-transparent {
  background-color: transparent;
  border: 0.03125rem solid #222222;
  color: #222222;
}
@media (any-hover: hover) {
  .btn-transparent:hover {
    background-color: #f44817;
    color: #ffffff;
    border: none;
  }
}
@media (any-hover: none) {
  .btn-transparent:active {
    background-color: #f44817;
    color: #ffffff;
    border: none;
  }
}

.btn.btn-orange {
  background-color: #f44817;
  color: #ffffff;
}
@media (any-hover: hover) {
  .btn.btn-orange:hover {
    background-color: #ffffff;
    color: #222222;
    border: 0.03125rem solid #222222;
  }
}
@media (any-hover: none) {
  .btn.btn-orange:active {
    background-color: #ffffff;
    color: #222222;
    border: 0.03125rem solid #222222;
  }
}

.blue__title {
  display: inline-block;
  font-size: clamp(0.75rem, 0.6862745098rem + 0.2614379085vw, 1rem);
  background-color: #edefff;
  color: #4f54c8;
  border-radius: 1.5rem;
}

.blue__padding {
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
}

.title {
  color: #222222;
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: 600;
}

.text {
  font-size: clamp(0.875rem, 0.8431372549rem + 0.1307189542vw, 1rem);
}

.title__card {
  color: #222222;
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
  line-height: 1.3;
  font-weight: 600;
}

.partners {
  margin-top: 2.25rem;
}
.partners__body {
  display: grid;
  grid-template-columns: 0.87fr 0.91fr;
  grid-template-rows: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(5rem, 14vw, 10.625rem) clamp(2.5rem, 7vw, 6.25rem);
}
.partners__connecting {
  grid-column: 1/2;
  grid-row: 1/3;
  width: auto;
}
.partners__partnership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  width: 470px;
  padding: 0.375rem 1rem;
  margin-bottom: 2rem;
}
.partners__title {
  color: #222222;
  font-size: clamp(2rem, 1.5857843137rem + 1.6993464052vw, 3.625rem);
  line-height: 1.3;
  margin-bottom: 1rem;
}
.partners__text {
  margin-bottom: 3.125rem;
}
.partners__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  height: 3.3125rem;
}
.partners__buttons-link:nth-child(1) {
  width: 180px;
}
.partners__progress {
  grid-column: 1/2;
  grid-row: 3/4;
}
.partners__progress-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.partners .progress__item-number {
  font-size: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  color: #222222;
  line-height: 1.3;
}
.partners .progress__item-text {
  font-size: clamp(0.625rem, 0.5294117647rem + 0.3921568627vw, 1rem);
}
.partners .number-weight {
  font-weight: 600;
}
.partners__banner {
  grid-column: 2/3;
  grid-row: 1/4;
  width: auto;
}
@media (max-width: calc(1024px - 0.02px)) {
  .partners__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .partners__connecting {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .partners__progress {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .partners__progress-box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partners__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: calc(499px - 0.02px)) {
  .partners__partnership {
    width: 100%;
  }
}
@media (max-width: calc(357px - 0.02px)) {
  .partners__text {
    margin-bottom: 2.5rem;
  }
  .partners__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    height: 3.125rem;
    margin-bottom: 3.75rem;
  }
  .partners__buttons-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
  }
  .partners__buttons-link:nth-child(1) {
    width: 60%;
  }
}

@media (max-width: calc(320px - 0.02px)) {
  .partners {
    margin-top: 1rem;
  }
}
.services__subtitle {
  display: inline-block;
  margin-bottom: 1.25rem;
}
.services__title {
  margin-bottom: 1rem;
}
.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem 2.5rem;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff4f2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .services__card:hover {
    background-color: #edefff;
  }
  .services__card:hover__card-link {
    color: #ffffff;
    background: #4f54c8;
  }
  .services__card:hover .btn-purple {
    color: #ffffff;
    background: #4f54c8;
    border: none;
  }
}
@media (any-hover: none) {
  .services__card:active {
    background-color: #edefff;
  }
  .services__card:active__card-link {
    color: #ffffff;
    background: #4f54c8;
  }
  .services__card:active .btn-purple {
    color: #ffffff;
    background: #4f54c8;
    border: none;
  }
}
.services__card-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.3125rem;
          flex: 0 1 15.3125rem;
}
.services__card-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.75rem;
          flex: 0 1 18.75rem;
}
.services__card-title {
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.services__card-link {
  margin-top: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: calc(1024px - 0.02px)) {
  .services__cards {
    gap: 1.75rem 1.75rem;
  }
  .services__card {
    gap: 2rem;
    padding: 1.5rem;
  }
}
@media (max-width: calc(929px - 0.02px)) {
  .services__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
  }
  .services__card {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services__card-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .services__card-desc {
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .services__cards {
    gap: 1.125rem 1.125rem;
  }
}
@media (max-width: calc(480px - 0.02px)) and (any-hover: hover) {
  .services__card:hover .btn-purple {
    color: #4f54c8;
    background: transparent;
  }
}
@media (max-width: calc(480px - 0.02px)) and (any-hover: none) {
  .services__card:active .btn-purple {
    color: #4f54c8;
    background: transparent;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .services .btn.btn-mobile {
    padding: 0.75rem 1.125rem;
  }
  .services .btn-mobile-transparent {
    font-weight: 600;
    color: #f44817;
    border: none;
  }
}
@media (max-width: calc(397px - 0.02px)) {
  .services__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.75rem 1.5rem 1rem 1.5rem;
  }
  .services__text {
    margin-bottom: 1.875rem;
  }
}

.about__body {
  position: relative;
}
.about__images {
  position: absolute;
}
.about .top__left {
  top: -20px;
  left: 100px;
}
.about .top__right {
  top: -40px;
  right: 100px;
}
.about .bottom__left {
  bottom: -180px;
  left: 20px;
}
.about .bottom__right {
  bottom: -180px;
  right: 0;
}
@media (max-width: calc(1144px - 0.02px)) {
  .about .top__left {
    top: -30px;
    left: 65px;
  }
  .about .top__right {
    top: -50px;
    right: 40px;
  }
  .about .bottom__right {
    height: 250px;
    bottom: -220px;
    right: 25px;
  }
}
@media (max-width: calc(1144px - 0.02px)) {
  .about__header {
    margin-bottom: 6.25rem;
  }
  .about__images {
    display: none;
  }
}
.about__header {
  text-align: center;
  margin-bottom: 13.875rem;
}
@media (max-width: calc(1144px - 0.02px)) {
  .about__header {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(1024px - 0.02px)) {
  .about__header {
    margin-bottom: 4.375rem;
  }
}
.about__subtitle {
  display: inline-block;
  margin-bottom: 1.25rem;
}
.about__title {
  max-width: 47.5rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
.about__text {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  max-width: 54.0625rem;
  margin: 0 auto;
}
.about__sponsor {
  background-color: #fff4f2;
}
.about__sponsor-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6.5625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 3.125rem;
}
@media (max-width: calc(1024px - 0.02px)) {
  .about__sponsor-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    padding: 2rem 3.125rem;
    gap: 2rem 4rem;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .about__sponsor-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.value__header {
  text-align: center;
}
.value__content {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: clamp(1.875rem, 4vw, 4rem) clamp(2.5rem, 6vw, 5.3125rem);
}
.value__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid__item-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid__item-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid__item-3 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.grid__item-3 img {
  height: 100%;
}
.grid__item-4 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.grid__item-5 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.item__number {
  position: relative;
  justify-self: flex-start;
  text-align: center;
  width: 3rem;
  height: 3rem;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.3;
  color: #ffffff;
  background-color: #f44817;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
.item__number::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  background-color: #edefff;
  border-radius: 0.5rem;
  z-index: -1;
}
.item__title {
  font-size: clamp(1.125rem, 1.0931372549rem + 0.1307189542vw, 1.25rem);
  color: #222222;
  line-height: 1.3;
  margin-bottom: 0.625rem;
  font-weight: 600;
}

@media (max-width: calc(1024px - 0.02px)) {
  .value__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2.5rem 2.5rem;
  }
  .grid__item-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grid__item-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grid__item-3 {
    grid-column: 1/3;
    grid-row: 1/2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
  .grid__item-4 {
    grid-column: 1/2;
    grid-row: 3/4;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .grid__item-5 {
    grid-column: 2/3;
    grid-row: 3/4;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .value__content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
  }
  .value__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
  .value__item__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid__item-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid__item-2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid__item-3 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid__item-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid__item-5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: calc(480px - 0.02px)) and (max-width: calc(335px - 0.02px)) {
  .value__item {
    gap: 20px;
  }
}
.studies {
  background-color: #fff4f2;
  padding: 5rem;
}
@media (max-width: calc(1024px - 0.02px)) {
  .studies {
    padding: 3.75rem;
  }
}
@media (max-width: calc(768px - 0.02px)) {
  .studies {
    padding: 2.5rem;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .studies {
    padding: 1.25rem;
  }
}
.studies__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.625rem;
  margin-bottom: 3.5rem;
}
@media (max-width: calc(921px - 0.02px)) {
  .studies__cards {
    row-gap: 2rem;
  }
}
.studies__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  max-width: calc(1340px - 10rem);
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: fadeEffect 0.5s;
          animation: fadeEffect 0.5s;
}
.studies__card.hidden {
  display: none !important;
}
@media (any-hover: hover) {
  .studies__card:hover {
    background-color: #edefff;
  }
  .studies__card:hover__card-link {
    color: #ffffff;
    background: #4f54c8;
  }
  .studies__card:hover .btn-purple {
    color: #ffffff;
    background: #4f54c8;
    border: none;
  }
}
@media (any-hover: none) {
  .studies__card:active {
    background-color: #edefff;
  }
  .studies__card:active__card-link {
    color: #ffffff;
    background: #4f54c8;
  }
  .studies__card:active .btn-purple {
    color: #ffffff;
    background: #4f54c8;
    border: none;
  }
}
@media (max-width: calc(921px - 0.02px)) {
  .studies__card {
    gap: 1.25rem;
    padding: 1rem;
  }
}
@media (max-width: calc(768px - 0.02px)) {
  .studies__card {
    padding: 1.75rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .studies__card {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.studies__card-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.4375rem;
          flex: 0 1 15.4375rem;
}
@media (max-width: calc(768px - 0.02px)) {
  .studies__card-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.studies__card-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.875rem;
          flex: 0 1 51.875rem;
}
@media (max-width: calc(768px - 0.02px)) {
  .studies__card-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.studies__card-title {
  margin-bottom: 0.75rem;
}
.studies__card-text {
  margin-bottom: clamp(1.5rem, 5vw, 6rem);
}
.studies__card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: calc(612px - 0.02px)) {
  .studies__card-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
  }
}
.studies__card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.studies__card-item {
  color: #222222;
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
  line-height: 1.3;
  margin-right: 1.5rem;
}
.studies__card-item p:nth-child(2) {
  color: #656565;
  font-size: clamp(0.75rem, 0.7181372549rem + 0.1307189542vw, 0.875rem);
  line-height: 1.4;
}

.pagination__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
@media (max-width: calc(480px - 0.02px)) {
  .pagination__controls {
    gap: 0.75rem;
  }
}
.pagination__arrow {
  fill: #aaaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.pagination__arrow .arrow__active path {
  fill: #222222;
}
@media (max-width: calc(480px - 0.02px)) {
  .pagination__arrow {
    width: 2.625rem;
    height: 2.625rem;
  }
}
.pagination__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}
@media (max-width: calc(480px - 0.02px)) {
  .pagination__numbers {
    gap: 0.625rem;
  }
}

.page__number {
  font-size: clamp(1rem, 0.9681372549rem + 0.1307189542vw, 1.125rem);
  line-height: 1.3;
  color: #aaaaaa;
  background-color: #ffffff;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.875rem 1.375rem;
  border-radius: 0.5rem;
}
.page__number.active {
  color: #ffffff;
  background-color: #f44817;
}
@media (max-width: calc(480px - 0.02px)) {
  .page__number {
    min-width: 2.625rem;
    padding: 0.625rem 1rem;
  }
}

.process__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(2rem, 4vw, 6.25rem);
}
.process__line {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  translate: -50% -45%;
  width: calc(100% - 16.25rem);
  z-index: -1;
}
.process__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: calc(1024px - 0.02px)) {
  .process__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
  .process__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.25rem;
    text-align: left;
    width: 100%;
    margin-bottom: 1.875rem;
  }
  .process__line {
    display: none;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .process__card {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: calc(320px - 0.02px)) {
  .process__card {
    gap: 0.625rem;
    margin-bottom: 1.875rem;
  }
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin-bottom: 1.25rem;
  background-color: #ffffff;
}
.card__image img {
  width: 6.875rem;
  height: 6.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__title {
  margin-bottom: 0.75rem;
}
@media (max-width: calc(1024px - 0.02px)) {
  .card__image {
    padding: 0rem 0.75rem;
  }
  .card__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
@media (max-width: calc(480px - 0.02px)) {
  .card__title {
    margin-bottom: 0.5rem;
  }
}

.title__card-process {
  font-size: 1.125rem;
}
.title__card-process h3 {
  color: #222222;
  font-weight: 600;
}

.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}
@media (max-width: calc(1024px - 0.02px)) {
  .pricing__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
  }
}
.pricing__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 2rem;
  background-color: #fff4f2;
  border-radius: 0.5rem;
}
.pricing__card.card__active {
  background-color: #edefff;
}
@media (max-width: calc(1024px - 0.02px)) {
  .pricing__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.875rem);
            flex: 0 1 calc(50% - 1.875rem);
  }
}
@media (max-width: calc(768px - 0.02px)) {
  .pricing__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}
.card__img {
  display: block;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
.card__btn-popular {
  display: inline-block;
  padding: 0.625rem 1rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.card__text {
  margin-bottom: 1.5rem;
  max-width: 22.25rem;
}
.card__price {
  color: #222222;
  font-size: clamp(2rem, 1.8725490196rem + 0.522875817vw, 2.5rem);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}
.card__price span {
  color: #656565;
  font-size: clamp(0.875rem, 0.8431372549rem + 0.1307189542vw, 1rem);
  font-weight: 400;
  line-height: 1.6;
}
.card__line {
  max-width: 22.25rem;
  height: 1px;
  background-color: #aaaaaa;
  margin-bottom: 1.5rem;
}
.card__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 2rem;
}
.card__list-items {
  color: #656565;
  font-size: clamp(0.75rem, 0.7181372549rem + 0.1307189542vw, 0.875rem);
  line-height: 1.4;
  margin-bottom: 1.5rem;
  background: url("/src/image/pricing/list_img-02.png") left 0px no-repeat;
  padding: 0px 0px 0px 2.125rem;
}
.card__button {
  color: #ffffff;
  margin-top: auto;
}
.card__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.img-popular {
  background-color: #4f54c8;
}

.img-simply {
  background-color: #f44817;
  margin-bottom: 2.5rem;
}

.active-items {
  background: url("/src/image/pricing/list_img-01.png") left no-repeat;
  padding: 0px 0px 0px 2.125rem;
}

.button__popular {
  background-color: #4f54c8;
}
.button__popular:hover {
  background-color: #f44817;
}

.button__simply {
  background-color: #f44817;
}
.button__simply:hover {
  background-color: #4f54c8;
}/*# sourceMappingURL=style.css.map */