@use 'helpers' as *;
@use 'variables' as *;

.container {
  // Використовуємо calc для обчислення максимальної ширини з відступами
  max-width: calc(#{$containerWidth} + #{$containerPaddingX} * 2);
  margin-inline: auto;
  padding-inline: $containerPaddingX;
}

.visually-hidden {
  // Міксин для приховування елемента, доступного скрінрідерам
  @include visually-hidden;
}

// Приховує елемент на мобільних пристроях (max-width: 768px)
.hidden-mobile {
  // Використовуємо універсальний міксин media-down з точкою $bp-tablet (768px)
  @include media-down($bp-tablet) {
    display: none !important;
  }
}

// Показує елемент тільки на мобільних пристроях (до max-width: 768px)
.visible-mobile {
  // Використовуємо універсальний міксин media-up з точкою $bp-tablet (768px)
  // Тобто приховуємо елемент для всіх екранів ВІД 768px і більше
  @include media-up($bp-tablet) {
    display: none !important;
  }
}
